{% extends 'index.html' %}
{% block content %}
    {% if questions %}
        <ul class="list-group">
            {% for question in questions %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'base:question_detail' question.id %}">{{ question.text }}</a>
                    <span class="badge badge-primary badge-pill">{{ question.answers.count }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no any questions.</p>
    {% endif %}
{% endblock %}
